server:
    port: 8090

spring:
    datasource:
        password: postgres
        url: jdbc:postgresql://localhost:5433/postgres
        username: postgres
    jpa:
        generate-ddl: true

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://auth-server:9000